[submodule "themes/hueman"]
	path = themes/hueman
	url = https://github.com/edentsai/hexo-theme-hueman
[submodule "themes/icarus"]
	path = themes/icarus
	url = https://github.com/edentsai/hexo-theme-icarus
